In [17]:
import pandas as pd
from FeatureDataClass import IndustryData

# Fetch our primary Resume -> Industry dataset
ind = IndustryData().preprocess_data()

# Get raw counts
industry_counts = ind['Industry'].value_counts()
print("Raw counts:")
print(industry_counts)

# Get percentage distribution
industry_percentages = ind['Industry'].value_counts(normalize=True) * 100
print("\nPercentage distribution:")
print(industry_percentages.round(2))
ind

Raw counts:
Industry
Education                    410
Mechanical Engineer          384
Electrical Engineering       384
Consultant                   368
Civil Engineer               364
Sales                        364
Management                   361
Human Resources              360
Digital Media                358
Accountant                   350
Java Developer               348
Building and Construction    345
Operations Manager           345
Architecture                 344
Testing                      344
Business Analyst             340
Aviation                     340
Finance                      339
SQL Developer                338
Public Relations             337
Health and Fitness           332
Arts                         332
Network Security Engineer    330
DotNet Developer             329
Apparel                      320
Banking                      314
Automobile                   313
Web Designing                309
SAP Developer                304
Data Science                 299
ETL Developer                294
Agriculture                  293
Advocate                     291
DevOps                       289
PMO                          286
Information Technology       274
Designing                    258
Database                     257
Python Developer             248
BPO                          203
React Developer              182
Food and Beverages           162
Blockchain                    47
Name: count, dtype: int64

Percentage distribution:
Industry
Education                    3.06
Mechanical Engineer          2.87
Electrical Engineering       2.87
Consultant                   2.75
Civil Engineer               2.72
Sales                        2.72
Management                   2.70
Human Resources              2.69
Digital Media                2.67
Accountant                   2.61
Java Developer               2.60
Building and Construction    2.58
Operations Manager           2.58
Architecture                 2.57
Testing                      2.57
Business Analyst             2.54
Aviation                     2.54
Finance                      2.53
SQL Developer                2.52
Public Relations             2.52
Health and Fitness           2.48
Arts                         2.48
Network Security Engineer    2.46
DotNet Developer             2.46
Apparel                      2.39
Banking                      2.35
Automobile                   2.34
Web Designing                2.31
SAP Developer                2.27
Data Science                 2.23
ETL Developer                2.20
Agriculture                  2.19
Advocate                     2.17
DevOps                       2.16
PMO                          2.14
Information Technology       2.05
Designing                    1.93
Database                     1.92
Python Developer             1.85
BPO                          1.52
React Developer              1.36
Food and Beverages           1.21
Blockchain                   0.35
Name: proportion, dtype: float64

            Industry                                        resume_text
0         Accountant  education omba executive leadership university...
1         Accountant  howard gerrard accountant deyjobcom birmingham...
2         Accountant  kevin frank senior accountant inforesumekraftc...
3         Accountant  place birth nationality olivia ogilvy accounta...
4         Accountant  stephen greet cpa senior accountant 9 year exp...
...              ...                                                ...
13384  Web Designing  jessica claire montgomery street san francisco...
13385  Web Designing  jessica claire montgomery street san francisco...
13386  Web Designing  summary jessica claire 100 montgomery st 10th ...
13387  Web Designing  jessica claire montgomery street san francisco...
13388  Web Designing  websites portfolios profiles professional summ...

[13389 rows x 2 columns]

It seems like there are a lot of IT related jobs which aren't labelled IT.

(Information Technology)
React Developer
Python Developer
DevOps
ETL Developer
Web Desiging
DotNet Developer
Network Security Engineer
SQL Developer
Java Developer

We could potentially group these into distinct classes, as it could be hard for the agent to pick up on these niche industry domains (which are moreso job titles as opposed to industries).


I'm proposing we perform the following splits

Under Information Technology, we will now include;
DevOps
SAP Developer
Database
SQL Developer
ETL Developer
Web Desiging

Creating a new class, Software Engineering, we will now include;
Java Developer
DotNet Developer
Network Security Engineer
React Developer
Python Developer

Creating a new class

In [18]:
# Define the mappings
it_roles = ['DevOps', 'SQL Developer', 'ETL Developer', 'Web Designing', 'Database', 'SAP Developer']
software_eng_roles = ['Java Developer', 'DotNet Developer', 'Network Security Engineer', 
                     'React Developer', 'Python Developer']

# Update the Industry column
ind.loc[ind['Industry'].isin(it_roles), 'Industry'] = 'Information Technology'
ind.loc[ind['Industry'].isin(software_eng_roles), 'Industry'] = 'Software Engineering'

# Check the updated distribution
print("Updated Industry Distribution:")
print(ind['Industry'].value_counts())
print("\nPercentages:")
print(ind['Industry'].value_counts(normalize=True) * 100)

Updated Industry Distribution:
Industry
Information Technology       2065
Software Engineering         1437
Education                     410
Mechanical Engineer           384
Electrical Engineering        384
Consultant                    368
Civil Engineer                364
Sales                         364
Management                    361
Human Resources               360
Digital Media                 358
Accountant                    350
Operations Manager            345
Building and Construction     345
Testing                       344
Architecture                  344
Aviation                      340
Business Analyst              340
Finance                       339
Public Relations              337
Health and Fitness            332
Arts                          332
Apparel                       320
Banking                       314
Automobile                    313
Data Science                  299
Agriculture                   293
Advocate                      291
PMO                           286
Designing                     258
BPO                           203
Food and Beverages            162
Blockchain                     47
Name: count, dtype: int64

Percentages:
Industry
Information Technology       15.423109
Software Engineering         10.732691
Education                     3.062215
Mechanical Engineer           2.868026
Electrical Engineering        2.868026
Consultant                    2.748525
Civil Engineer                2.718650
Sales                         2.718650
Management                    2.696243
Human Resources               2.688774
Digital Media                 2.673837
Accountant                    2.614086
Operations Manager            2.576742
Building and Construction     2.576742
Testing                       2.569273
Architecture                  2.569273
Aviation                      2.539398
Business Analyst              2.539398
Finance                       2.531929
Public Relations              2.516992
Health and Fitness            2.479647
Arts                          2.479647
Apparel                       2.390022
Banking                       2.345209
Automobile                    2.337740
Data Science                  2.233176
Agriculture                   2.188364
Advocate                      2.173426
PMO                           2.136082
Designing                     1.926955
BPO                           1.516170
Food and Beverages            1.209948
Blockchain                    0.351034
Name: proportion, dtype: float64

In [19]:
# Get all rows that aren't IT or Software Engineering
other_rows = ind[~ind['Industry'].isin(['Information Technology', 'Software Engineering'])]

# Randomly sample rows from each IT and Software Engineering
it_rows = ind[ind['Industry'] == 'Information Technology'].sample(n=650, random_state=42)
sw_rows = ind[ind['Industry'] == 'Software Engineering'].sample(n=600, random_state=42)

# Combine all the dataframes
df_balanced = pd.concat([other_rows, it_rows, sw_rows])

# Shuffle the final dataframe
df_balanced = df_balanced.sample(frac=1, random_state=42).reset_index(drop=True)

# Check the new distribution
print("New Industry Distribution:")
print(df_balanced['Industry'].value_counts())
print("\nPercentages:")
print(df_balanced['Industry'].value_counts(normalize=True) * 100)

New Industry Distribution:
Industry
Information Technology       650
Software Engineering         600
Education                    410
Mechanical Engineer          384
Electrical Engineering       384
Consultant                   368
Civil Engineer               364
Sales                        364
Management                   361
Human Resources              360
Digital Media                358
Accountant                   350
Building and Construction    345
Operations Manager           345
Testing                      344
Architecture                 344
Business Analyst             340
Aviation                     340
Finance                      339
Public Relations             337
Arts                         332
Health and Fitness           332
Apparel                      320
Banking                      314
Automobile                   313
Data Science                 299
Agriculture                  293
Advocate                     291
PMO                          286
Designing                    258
BPO                          203
Food and Beverages           162
Blockchain                    47
Name: count, dtype: int64

Percentages:
Industry
Information Technology       5.836401
Software Engineering         5.387447
Education                    3.681422
Mechanical Engineer          3.447966
Electrical Engineering       3.447966
Consultant                   3.304301
Civil Engineer               3.268385
Sales                        3.268385
Management                   3.241447
Human Resources              3.232468
Digital Media                3.214510
Accountant                   3.142678
Building and Construction    3.097782
Operations Manager           3.097782
Testing                      3.088803
Architecture                 3.088803
Business Analyst             3.052887
Aviation                     3.052887
Finance                      3.043908
Public Relations             3.025950
Arts                         2.981054
Health and Fitness           2.981054
Apparel                      2.873305
Banking                      2.819431
Automobile                   2.810452
Data Science                 2.684745
Agriculture                  2.630870
Advocate                     2.612912
PMO                          2.568017
Designing                    2.316602
BPO                          1.822753
Food and Beverages           1.454611
Blockchain                   0.422017
Name: proportion, dtype: float64

In [22]:
# Shuffle the rows so we don't have Industries clustered together
df_balanced = df_balanced.sample(frac=1, random_state=42) 
df_balanced

,Industry,resume_text
1086,Testing,shwetha n senior test engineertest lead ph 973...
9115,Digital Media,jessica claire 100 claire st 10th floor 555 43...
8585,Building and Construction,jessica claire resumesampleexamplecom 555 4321...
9464,Operations Manager,jessica claire 100 montgomery st 10th floor 55...
8927,Software Engineering,jessica claire 100 montgomery st 10th floor 55...
...,...,...
7545,Public Relations,jessica claire 100 montgomery st 10th floor 55...
2742,Digital Media,jessica claire montgomery street san francisco...
4503,BPO,profiles professional summary skills jessica c...
4650,Civil Engineer,jessica claire montgomery street san francisco...
5484,Arts,lisa stanton 3d artist summary 3d artist numbe...

I'm also seeing duplicate entries, lets remove rows where there are duplicate resume_text data

In [28]:
# Now remove duplicates based on resume_text
df_balanced = df_balanced.drop_duplicates(subset=['resume_text']).sample(frac=1, random_state=42) 
df_balanced

# Check the new distribution
print("New Industry Distribution:")
print(df_balanced['Industry'].value_counts())
print("\nPercentages:")
print(df_balanced['Industry'].value_counts(normalize=True) * 100)

New Industry Distribution:
Industry
Information Technology       621
Software Engineering         560
Education                    389
Electrical Engineering       361
Sales                        346
Consultant                   343
Digital Media                341
Accountant                   337
Mechanical Engineer          337
Building and Construction    334
Finance                      332
Operations Manager           327
Aviation                     327
Testing                      323
Management                   319
Apparel                      312
Business Analyst             311
Public Relations             309
Civil Engineer               307
Architecture                 304
Human Resources              304
Automobile                   302
Health and Fitness           295
Banking                      291
Advocate                     281
Data Science                 274
Arts                         248
PMO                          245
Designing                    244
Agriculture                  227
BPO                          197
Food and Beverages           145
Blockchain                    43
Name: count, dtype: int64

Percentages:
Industry
Information Technology       6.066823
Software Engineering         5.470887
Education                    3.800313
Electrical Engineering       3.526768
Sales                        3.380227
Consultant                   3.350918
Digital Media                3.331379
Accountant                   3.292302
Mechanical Engineer          3.292302
Building and Construction    3.262993
Finance                      3.243454
Operations Manager           3.194607
Aviation                     3.194607
Testing                      3.155530
Management                   3.116452
Apparel                      3.048066
Business Analyst             3.038296
Public Relations             3.018757
Civil Engineer               2.999218
Architecture                 2.969910
Human Resources              2.969910
Automobile                   2.950371
Health and Fitness           2.881985
Banking                      2.842907
Advocate                     2.745213
Data Science                 2.676827
Arts                         2.422821
PMO                          2.393513
Designing                    2.383744
Agriculture                  2.217663
BPO                          1.924580
Food and Beverages           1.416569
Blockchain                   0.420086
Name: proportion, dtype: float64